[submodule "QualityEngineering/goose"]
	path = QualityEngineering/goose
	url = https://github.com/BeanMicro/goose.git
[submodule "QualityEngineering/cucumber-rs"]
	path = QualityEngineering/cucumber-rs
	url = https://github.com/BeanMicro/cucumber-rs.git
